*{
	margin: 0;
	box-sizing: border-box;
font-family: 'Bitter', serif;

	}
body {background: lightyellow;

}

header{
	display: flex;
	justify-content: space-between;
	background: #FF8C00;
	height: 100px;}

.titulo{ 
	margin: auto 0;
	margin-left: 20px;
font-size: 30px;

	}


.imagen{
height:400px; 
width: 400px;

}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nombreCurso{
	margin:30px;
}